// 站点主色
// tips: 要达到整站主题修改效果, 请确保[$--color-primary]站点主色与[/src/element-ui-theme/index.js]文件中[import './element-[#17B3A3]/index.css']当前主题色一致
$--color-primary: #17B3A3;

// Navbar
$navbar--background-color: $--color-primary;
$navbar--background-color-state-grid-green:#007069;
// Sidebar
$sidebar--background-color-dark: #263238;
$sidebar--color-text-dark: #8a979e;
// 国网绿版
$sidebar--background-color-state-grid-green:#007069;
$sidebar--color-text-state-grid-green: #fff;

// Content
$content--background-color: #f1f4f5;
